{% extends 'base.html.twig' %}

{% block title %}Bienvenue chez Mes Ptits commerçants{% endblock %}

{% block body %}
<div class="main">
    <div class="container d-flex flex-column">
        <h2 class="text-center">Choisissez,</h2>
        <h2 class="text-center">réservez en ligne,</h2>
        <h2 class="text-center line-title"><span>retirez au drive</span></h2>
    </div>


    <div class="text-center mt-5">
        <a href="{{ path('shop') }}" class="btn-get-started mx-3">Commerçants à proximité</a>
        <a href="#" class="btn-get-started m-2">Ouvrir mon commerce en ligne</a>
    </div>
</div>
{% endblock %}
