{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Mes P'tits Commerçants</h1>

    <ul>
        <li>Consulter les boutiques à proximité</li>
        <li>Mettre en ligne mes produits</li>
    </ul>
</div>
{% endblock %}
