{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1 class="text-center">Bienvenue</h1>
    <h2 class="text-center">chez vos ptits commerçants</h2>

    <div class="text-center">
        <a href="{{ path('shop') }}" class="btn-get-started m-2">Commerçants à proximité</a>
        <a href="#" class="btn-get-started m-2">Ouvrir mon commerce en ligne</a>
    </div>
</div>
{% endblock %}
