<nav class="navbar navbar-expand-lg navbar-light bg-nav">
    <a class="navbar-brand" href="#"><h2 class="color-light">Mes Ptits commerçants</h2></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link active" href="#">Ouvrir ma boutique<span class="sr-only">(current)</span></a>
            <a class="nav-link" href="#">Les p'tits commerçants</a>
        </div>
    </div>
</nav>
<div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#2EB1AB" fill-opacity="1" d="M0,256L80,229.3C160,203,320,149,480,144C640,139,800,181,960,181.3C1120,181,1280,139,1360,117.3L1440,96L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path></svg>
</div>