<nav class="navbar navbar-expand-lg navbar-light bg-nav">
    <a class="navbar-brand mx-3 my-2" href="{{ path('home') }}"><h1 class="color-primary handwritting-text">Mes Ptits commerçants</h1></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link color-light" href="#">Ouvrir ma e-boutique</a>
            <a class="nav-link" href="{{ path('shop') }}">Les Ptits commerçants</a>
        </div>
    </div>
</nav>
