{% extends 'base.html.twig' %}

{% block title %}Liste des commerçants{% endblock %}

{% block body %}

<div class="main">
    <h2 class="text-center m-5">Liste des commerçants</h2>
        <div class="container">
            <div class="row">
                {% for shop in shops %}
                    <div class="d-flex justify-content-center col-12 col-sm-12 col-md-6 col-xl-4 mb-5" style="height: 40vh">
                            <div class="card mh-30">
                                <div class="h-50">
                                    <a href="{{ path('shop_show', {'id': shop.id}) }}">
                                        <img src="{{ shop.picture }}" class="img-card card-img-top mh-100" alt="Photo de la boutique">
                                    </a>
                                </div>

                                <div class="card-body text-center">
                                    <p class="card-text font-weight-bold color-primary mb-1">{{ shop.name }}</p>
                                    {% for category in shop.shopCategories %}
                                        <p class="card-text color-primary">{{ category.name }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                    </div>
                {% endfor %}
                <div class="d-flex justify-content-center col-12 col-sm-12 col-md-6 col-xl-4 mb-5" style="height: 40vh">
                        <a href="#" class="text-center h-50">
                            {% include 'svg/plus_sign.html.twig' %}
                            <p class="card-text font-weight-bold color-primary mt-2">Ajouter votre commerce</p>
                        </a>
                </div>


            </div>
        </div>

</div>
{% endblock %}
