{% extends 'base.html.twig' %}

{% block title %}Hello ShopController!{% endblock %}

{% block body %}

<div>
    <h1 class="text-center mb-4">Liste des boutiques</h1>
        <div class="container">
            <div class="row">
                {% for shop in shops %}
                <div class="d-flex justify-content-center col-12 col-sm-12 col-md-6 col-lg-4 mb-5">
                    <div class="card">
                        <img src="{{ asset('/build/factice-product.jpg') }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text color-primary font-weight-bold">{{ shop.name }}</p>
                            {% for category in shop.shopCategories %}
                            <p class="card-text">{{ category.name }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

</div>
{% endblock %}
