.navbar {
  z-index: 2;
}


.bg-nav {
  background-color: transparent;
}

svg.blob-svg {
  position: absolute;
  top: -150px;
  right: -200px;
  z-index: 1;
}

svg.blob2-svg {
  position: absolute;
  top: 450px;
  left: -150px;
  transform: scale(1.25);
  z-index: 1;
}